:root {
    --main-text-color: white;
    --background-color: gray;
}

body {
    background-color: #3C91E6;
}

/* main landing class */
.landing {
    display: block;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 450;
    border-style: black;
    margin-bottom: 20px;

}

/* main landing icon */
.landing img {
    background-color: var(--background-color);
    box-shadow: 5px 10px 8px #888888;
    border-radius: 25px;
    text-align: center;
}

/* ' i desgin code' */
.slogan {
    font-size: 1.3rem;
    font-weight: 400;
}


/*Main grid layout*/
.grid-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 50px;
    background-color: #343A40;
    color: white;
    border-style: 2px;
    margin: 0px 10%;
}

/* each whole grid item */
.grid-item {
    padding: 20px;
    text-align: center;
}

/*bigger icon on top of grid item */
.grid-big-image  {
    border-radius: 20px;
    max-width: 80%;
    height: auto;
}

/* div for grid arrow */
.grid-arrow {
    display: none;
    text-align: center;
}
 /* grid paragraphs */
.p-main {
    font-size: 25px;
}

/*main landing responsiveness*/
@media screen and (max-width: 991px) {
    .landing {
        font-size: 30px;
        margin: 0px 20px;
        margin-bottom: 20px;
    }

    .landing img {
        width: 100px;
        height: 100px;
    }
}

/* responsive grid content */
@media screen and (max-width: 700px) {
    .grid-main {
        display: block;
        margin: 0px 10px;
    }

    .grid-big-image {
        width: 70%;
        height: auto;
    }

    .grid-arrow {
        display: block;        
        margin: 0;
        text-align: center;

    }
}